Import Module

In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, String, DECIMAL, Boolean, Date
import os
import numpy as np

Read Files

In [2]:
data = pd.read_excel('AW_Sales_task.xlsx', parse_dates=['OrderDate', 'ShipDate','DueDate'])
name = pd.read_csv('national_names.csv')
product_info = pd.read_csv('prduct_subcategory_info.csv')
shipping_price = pd.read_csv('shipping_estimating_price.csv')
shipping_estimator = pd.read_excel('shipping_estimator.xlsx')

Open MySql and create a DataBase

In [3]:
mydb = mysql.connector.connect(
    host= 'localhost',
    user = 'root',
    password=os.getenv('DB_PASSWORD')
)

In [4]:
cur = mydb.cursor()

In [5]:
cur.execute('CREATE DATABASE  IF NOT EXISTS DataWarhouse_Final')

Data cleaning and organisation

In [6]:
#Calculate shipping time
data['ShippingTime_'] = (data['DueDate'] - data['OrderDate']).dt.days

#Calculate the Tax regions
data['Tax_rate'] = round((data['TaxAmt'] / (data['TotalDue'] - data['TaxAmt'])) * 100, 0)
data['Tax_ID'] = pd.factorize(data['Tax_rate'])[0]

#Calculate the Product average price and estimate price purchase by business base on 70% of the price 
data['MeanProductPrice'] = round(data.groupby('ProductID')['UnitPrice'].transform('mean'),2)
data['RetaillerGoodsPrice'] = round(data['MeanProductPrice'] * 0.70,2)

#Calculate the basket sizes and basket price and merge this value inside the data Frame
basket_size = data.groupby(['CustomerID', 'OrderDate'])['OrderQty'].sum().reset_index(name='CustomerBasketSize')
basket_price = data.groupby(['CustomerID', 'OrderDate'])['TotalDue'].sum().reset_index(name='CustomerBasketPrice')
data = pd.merge(data, basket_size, on=['CustomerID', 'OrderDate'], how='left')
data = pd.merge(data, basket_price, on=['CustomerID', 'OrderDate'], how='left')

In [7]:
#Create a customer Information table with name and total amount spend by customer
name_list = name['name'].unique()
customer_ids = data['CustomerID'].unique()
#Creat a Dictionary for link unique Customer ID to unique Name for name.csv
mapping_dict = {customer_id: name_list[i % len(name_list)] for i, customer_id in enumerate(sorted(customer_ids))}
#mapping the combinaison inside the DataFrame
data['CustomerName'] = data['CustomerID'].map(mapping_dict)
#Calculate by customer how much they spend and how many time they order
TotalAmountSpent = data.groupby('CustomerID')['TotalDue'].sum().reset_index(name='TotalAmountSpent')
customer_basket_counts = data.groupby('CustomerID').apply(lambda x: x['OrderDate'].nunique()).reset_index(name='BasketCount')
TotalAmountSpent = TotalAmountSpent.merge(customer_basket_counts, on= 'CustomerID', how = 'left')
#Create a new dataFrame for merge this information later inside the database
customer_info = pd.merge(data[['CustomerID','CustomerName']].drop_duplicates(), TotalAmountSpent, on='CustomerID', how='left')

C:\Users\gemma\AppData\Local\Temp\ipykernel_17348\425722315.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  customer_basket_counts = data.groupby('CustomerID').apply(lambda x: x['OrderDate'].nunique()).reset_index(name='BasketCount')

In [8]:
#link seller name to seller ID
possible_seller_names = ['Amazon', 'Web Site', 'By Phone', 'By Email', 'Local Store', 'Sport direct', 'Frazer', 'Decathlon', 'Tesco', 'Lidl']
unique_sales_person_ids = data['SalesPersonID'].unique()
mapping_dict = {sales_person_id: possible_seller_names[i % len(possible_seller_names)] for i, sales_person_id in enumerate(unique_sales_person_ids)}

data['SellerName'] = data['SalesPersonID'].map(mapping_dict)

In [9]:
#Insert the Prodcut dimension from .csv files
data = data.merge(shipping_estimator, left_on='Territory', right_on='desitnation')
data = data.merge(product_info, on='ProductSubCategory', how='left')
data['box_size_in_cubic_meters'] = (data['Length'] * data['Width'] * data['Height'])/1000000
data['Weight_in_Kg'] = data['Weight']/1000

In [10]:
#Create a new Dataframe for facilitate the insertion in the database
shipping_by_product = data[
    ['TerritoryID', 'Territory', 'distances', 'ProductID', 'Product', 'ProductSubCategory', 'ProductCategory',
     'box_size_in_cubic_meters', 'Weight_in_Kg']].copy()

#Calculate the Volumetric Weight : This not the conventional way, the carrier will gave use a rate this depend of his service an not the actual weight of the product, but htis is for a estimation of the cost
data['VolumetricWeight'] = data['box_size_in_cubic_meters'] / (data['Weight_in_Kg'] * 1000)

#Calculate the price by Boat, Priority plane, premium plane adn Economic plane
shipping_by_product['TotalPriceByProductByBoat'] = shipping_price['Boat'].iloc[1] + (shipping_price['Boat'].loc[0] * (data['distances'] / 1000)) + (
        data['VolumetricWeight'] * shipping_price['Boat'].iloc[2])


shipping_by_product['TotalPriceByProductByPlanePrio'] = shipping_price['Plane Priority'].iloc[1] + (
            shipping_price['Plane Priority'].loc[0] * (data['distances'] / 1000)) + (
                                                                data['VolumetricWeight'] *
                                                                shipping_price['Plane Priority'].iloc[2])

shipping_by_product['TotalPriceByProductByPanePrem'] = shipping_price['Plane Prenium'].iloc[1] + (
            shipping_price['Plane Prenium'].loc[0] * (data['distances'] / 1000)) + (
                                                               data['VolumetricWeight'] *
                                                               shipping_price['Plane Prenium'].iloc[2])

shipping_by_product['TotalPriceByProductByPaneEco'] = shipping_price['Plane Economy'].iloc[1] + (
            shipping_price['Plane Economy'].loc[0] * (data['distances'] / 1000)) + (
                                                              data['VolumetricWeight'] *
                                                              shipping_price['Plane Economy'].iloc[2])

#Remove duplicate values for more visibility and create a Index for facitilate the integration inside the database
shipping_by_product.drop_duplicates()
shipping_by_product['FeeID'] = shipping_by_product.index

#Assignate boolean values for analyse
data['Boat'] = data['ShipMethod'] == 'CARGO TRANSPORT 5'
data['PlanePrioritary'] = data['ShipMethod'] == 'Plane PlanePrioritary'
data['PlanePremium'] = data['ShipMethod'] == 'Plane Prenium'
data['PlaneEconomic'] = data['ShipMethod'] == 'Plane Economic'


conditions = [
    data['ShipMethod'] == 'CARGO TRANSPORT 5',
    data['ShipMethod'] == 'Plane PlanePrioritary',
    data['ShipMethod'] == 'Plane Premium',
    data['ShipMethod'] == 'Plane Economic'
]

choices = [1, 2, 3, 4]

data['ShipMethodID'] = np.select(conditions, choices, default=4)

Create Database

In [11]:
cur.execute('USE DataWarhouse_Final')

cur.execute('''
CREATE TABLE IF NOT EXISTS Product (
    ProductID INT PRIMARY KEY,
    ProductSubCategory VARCHAR(255) NOT NULL,
    Product VARCHAR(255) NOT NULL,
    ProductCategory VARCHAR(255) NOT NULL,
    MeanProductPrice DECIMAL (15, 2),
    RetaillerGoodsPrice DECIMAL (15, 2),
    Length DECIMAL (15, 2),
    Width DECIMAL (15, 2),
    Height DECIMAL (15, 2),
    Weight_in_Kg DECIMAL (15, 2),
    Fragile BOOLEAN,
    box_size_in_cubic_meters DECIMAL (15, 2)
);
''')

cur.execute('''CREATE INDEX product_index ON Product(ProductID);''')


cur.execute('''
CREATE TABLE IF NOT EXISTS Shipping (
    ShipMethodID INT PRIMARY KEY AUTO_INCREMENT,
    Boat INT,
    PlanePrioritary INT,
    PlanePremium INT,
    PlaneEconomic INT
);
''')

cur.execute('''CREATE INDEX Shipping_index ON Shipping(ShipMethodID);''')


cur.execute('''
CREATE TABLE IF NOT EXISTS Time_ (
    OrderID INT PRIMARY KEY,
    OrderDate DATE ,
    DueDate DATE,
    ShipDate DATE,
    ShippingTime_ INT
);
''')

cur.execute('''CREATE INDEX Time_index ON Time_ (OrderID);''')


cur.execute('''
CREATE TABLE IF NOT EXISTS Customer (
    CustomerID INT PRIMARY KEY AUTO_INCREMENT,
    CustomerName VARCHAR(255) NOT NULL,
    BasketCount INT,
    TotalAmountSpent DECIMAL (15, 2)
);
''')

cur.execute('''CREATE INDEX Customer_index ON Customer (CustomerID);''')


cur.execute('''
CREATE TABLE IF NOT EXISTS Seller (
    SalespersonID INT PRIMARY KEY ,
    SellerName VARCHAR(255) NOT NULL
);
''')

cur.execute('''CREATE INDEX Seller_index ON Seller (SalespersonID);''')


cur.execute('''
CREATE TABLE IF NOT EXISTS Geography (
    TerritoryID INT PRIMARY KEY,
    Territory VARCHAR(255) NOT NULL,
    TerritoryGroup VARCHAR(255) NOT NULL

);
''')

cur.execute('''CREATE INDEX geo_index ON Geography (TerritoryID);''')

cur.execute('''
CREATE TABLE IF NOT EXISTS TaxByGEO (
    Tax_ID INT PRIMARY KEY,
    Tax_Rate DECIMAL (15, 2),
    TerritoryID INT,
    Territory VARCHAR(255) NOT NULL,
    FOREIGN KEY( TerritoryID) REFERENCES Geography( TerritoryID)
);
''')

cur.execute('''CREATE INDEX TaxByGEO_index ON TaxByGEO (Tax_ID);''')

cur.execute('''
CREATE TABLE IF NOT EXISTS ShippingFees (
    FeeID INT PRIMARY KEY,
    ProductID INT,
    Product VARCHAR(255) NOT NULL,
    TerritoryID INT,
    ShipMethodID INT,
    Territory VARCHAR(255) NOT NULL,
    TotalPriceByProductByPlanePrio DECIMAL (15 , 2),
    TotalPriceByProductByPanePrem  DECIMAL (15 , 2),
    TotalPriceByProductByPaneEco DECIMAL (15 , 2),
    TotalPriceByProductByBoat DECIMAL (15 , 2),
    FOREIGN KEY( TerritoryID) REFERENCES Geography( TerritoryID),
    FOREIGN KEY( ProductID) REFERENCES product( ProductID),
    FOREIGN KEY ( ShipMethodID) REFERENCES Shipping(ShipMethodID)
);''')

cur.execute('''CREATE INDEX ShippingFees_index ON ShippingFees (FeeID);''')


cur.execute('''
CREATE TABLE IF NOT EXISTS FacTable (
    TransactionID INT AUTO_INCREMENT PRIMARY KEY,
    CustomerID INT ,
    CustomerName VARCHAR(255) NOT NULL,
    ProductID INT ,
    Product VARCHAR(255) NOT NULL,
    TerritoryID INT ,
    Territory VARCHAR(255) NOT NULL,
    SalespersonID INT ,
    SellerName VARCHAR(255) NOT NULL,
    ShipMethodID INT ,
    ShipMethod VARCHAR(255) NOT NULL,
    OrderID INT ,
    OrderDate DATE ,
    shipping_price DECIMAL (15, 2),
    Tax_ID INT,
    Tax_Rate DECIMAL (15, 2),
    OrderQty INT,
    TotalDue DECIMAL (15, 2),
    FOREIGN KEY( CustomerID) REFERENCES Customer( CustomerID),
    FOREIGN KEY(ProductID) REFERENCES Product(ProductID),
    FOREIGN KEY(TerritoryID) REFERENCES Geography(TerritoryID),
    FOREIGN KEY(SalespersonID) REFERENCES Seller(SalespersonID),
    FOREIGN KEY(ShipMethodID) REFERENCES Shipping(ShipMethodID),
    FOREIGN KEY(Tax_ID) REFERENCES TaxByGEO(Tax_ID),
    FOREIGN KEY(OrderID) REFERENCES Time_(OrderID)
);
''')

Integrate the Data inside the database

In [12]:
engine = create_engine(f"mysql+mysqlconnector://root:{os.getenv('DB_PASSWORD')}@localhost/DataWarhouse_Final")

In [13]:
product = data[[ 'ProductID', 'Product', 'ProductSubCategory', 'ProductCategory', 'MeanProductPrice', 'RetaillerGoodsPrice', 'Length', 'Width', 'Height', 'Fragile', 'box_size_in_cubic_meters', 'Weight_in_Kg']].drop_duplicates(subset='ProductID', keep='first' )

product_schema = {'ProductID' : Integer, 'Product' : String, 'ProductSubCategory' : String, 'ProductCategory' : String, 'MeanProductPrice' : DECIMAL (15,2), 'RetaillerGoodsPrice' : DECIMAL (15,2), 'Length' : DECIMAL (15,2), 'Width' : DECIMAL (15,2), 'Height' : DECIMAL (15,2), 'Fragile' : Boolean, 'box_size_in_cubic_meters' : DECIMAL (15,2), 'Weight_in_Kg' : DECIMAL (15,2) }

product.to_sql('product', if_exists='append', con=engine, chunksize= 100, index=False, dtype=product_schema)

250

In [14]:
ship =pd.DataFrame({'Boat' : [data['Boat'].sum()], 'PlanePrioritary' : [data['PlanePrioritary'].sum()], 'PlaneEconomic' : [data['PlaneEconomic'].sum()], 'PlanePremium' : [data['PlanePremium'].sum()]})

ship_schema = {'Boat' : Integer , 'PlanePrioritary' : Integer, 'PlaneEconomic' : Integer, 'PlanePremium' : Integer}

ship.to_sql('shipping', con=engine, if_exists='append', chunksize= 100, index=False, dtype=ship_schema)

1

In [15]:
data['OrderID'] = data.index + 1

time = data[['OrderID','OrderDate', 'DueDate', 'ShipDate', 'ShippingTime_']]

time_schema = {'OrderID' : Integer, 'OrderDate' : Date, 'ShipDate' : Date, 'ShippingTime_' : Integer}

time.to_sql('time_', con=engine, if_exists='append', index=False, method='multi', chunksize= 100, dtype= time_schema)

23603

In [16]:
customer_schema = {'CustomerID' : Integer, 'CustomerName' : String, 'TotalAmountSpent' : DECIMAL,  'BasketCount' : Integer}
customer_info[['CustomerID', 'CustomerName', 'TotalAmountSpent',
       'BasketCount']].to_sql('customer', con=engine, if_exists='append', chunksize= 100, index=False, dtype=customer_schema)

294

In [17]:
seller = data[['SalesPersonID','SellerName']].drop_duplicates()
seller_schema = {'SalesPersonID' : Integer,  'SellerName' : String}

seller .to_sql('seller',  con=engine, if_exists='append', chunksize= 100, index=False, dtype=seller_schema)

10

In [18]:
geo = data[[ 'TerritoryID', 'Territory','TerritoryGroup']].drop_duplicates()
geo_schema = {'TerritoryID' : Integer, 'Territory' : String, 'TerritoryGroup' : String}
geo.to_sql('geography', con=engine, if_exists='append', chunksize= 100, index=False, dtype=geo_schema)

8

In [19]:
tax = data[[ 'Tax_ID', 'Tax_rate', 'Territory', 'TerritoryID']].drop_duplicates(subset=['Tax_ID'])

tax_schema = {'Tax_ID' : Integer, 'Tax_rate' : DECIMAL, 'Territory' : String, 'TerritoryID' : Integer}

tax .to_sql('taxbygeo', con=engine, if_exists='append', chunksize= 100, index=False, dtype=tax_schema)

11

In [20]:
shippingfees = (shipping_by_product[['FeeID', 'TerritoryID', 'Territory' , 'ProductID', 'Product', 'TotalPriceByProductByPlanePrio', 'TotalPriceByProductByPanePrem',
       'TotalPriceByProductByPaneEco', 'TotalPriceByProductByBoat']]).drop_duplicates()
 
shippingfees_schema = {'FeeID' : Integer, 'TerritoryID' : Integer, 'Territory' : String, 'ProductID' : Integer, 'Product' : String,  'TotalPriceByProductByBoat' : DECIMAL, 'TotalPriceByProductByPlanePrio' : DECIMAL, 'TotalPriceByProductByPanePrem' : DECIMAL,'TotalPriceByProductByPaneEco' : DECIMAL}
 
shippingfees.to_sql('shippingfees', con=engine, if_exists='append', index=False,chunksize= 100, dtype= shippingfees_schema)

23603

In [21]:
fact = data[['OrderID','OrderDate','CustomerID', 'CustomerName','TerritoryID', 'Territory', 'SalesPersonID', 'SellerName','ShipMethodID','ShipMethod','ProductID','Product', 'OrderQty','TotalDue','Tax_ID', 'Tax_rate']]
fact_schema = {'OrderID' : Integer, 'OrderDate' : Date,'CustomerID' : Integer, 'CustomerName' : String , 'TerritoryID' : Integer, 'Territory' : String, 'SalesPersonID' : Integer, 'SellerName' : String, 'ShipMethodID' : Integer, 'ShipMethode' : String, 'ProductID' : Integer, 'Product' : String, 'TotalDue' : DECIMAL,'Tax_ID' : Integer,'Tax_rate' : DECIMAL, 'OrderQty' : Integer}
fact.to_sql('factable' , con=engine, if_exists='append', index=False, chunksize=100, dtype= fact_schema )

23603